.btnCy {
  font-size: 2.4vmax !important;
  width: 30% !important;
}

@media only screen and (max-width: 768px) {
  .cDiv {
    /* width: 90vw; */
  }
  .font {
    font-size: medium !important;
  }
  .title {
    font-size: large;
  }
  .btnCy {
    width: 70% !important;
  }
  .f18 {
    font-size: x-large;
  }
}
