.customInput {
  width: 70% !important;
}
.subsscribeBtn {
  border: 0.12rem solid green !important;
  border-radius: 0.3vmax !important;
}
.wrapper {
  /* border: 0.2rem solid yellow; */
  height: auto;
}

.headerBtn {
  background-color: white;
}
.thumcont {
  width: 50%;
  padding: 1%;
  overflow: hidden;
  /* margin-left: 0 !important; */
  margin-right: 1%;
}
.signUptitle {
  font-size: medium;
  font-weight: bold;
}
.signUpText {
  font-size: 12px;
  font-weight: bold;
}
.details {
  width: 100%;
}
.info {
  width: 30% !important;
}
.Bottomnavitem {
  /* text-transform: uppercase; */
  /* font-size: large !important; */
  /* font-weight: bold !important; */
  color: black !important;
  font-size: 2.2vh !important;
  padding: 0 !important;
  font-family: "asapbold";
  margin: 0 !important;
  /* background-color: aqua; */
}
.fa-facebook {
  background: #ffff;
  color: #fdc700;
  font-size: 2vmax !important;
  width: 2.7vmax;
  border-radius: 1.6vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 2rem; */
  padding: 4%;
  /* margin-left: .5% !important; */
}
.fa-facebook:hover {
  text-decoration: none;
  border: 1px solid #fff;
  background: #fdc700;
  color: #ffffff;
}
.fa-instagram {
  background: #ffff;
  color: #fdc700;
  font-size: 2vmax !important;
  width: 2.7vmax;
  border-radius: 1.6vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 2rem; */
  padding: 4%;
}
.footerRow {
  padding: 4vw;
}

.fa-instagram:hover {
  text-decoration: none;
  border: 1px solid #fff;
  background: #fdc700;
  color: #ffffff;
}
#basic-nav-dropdownBottom {
  /* font-weight: bold !important; */
  color: black !important;
  /* font-size: medium !important; */
  font-size: 2.2vh !important;
  padding: 0 !important;
  margin: 0 !important;
  /* background-color: aqua; */
}
.header-image {
  width: 100%;
  margin-left: -50px;
}
.mVert {
  margin-top: 2vmax !important;
  margin-bottom: 3vmax !important;
}
.padHoriz {
  padding-left: 20vmax !important;
  padding-right: 20vmax !important;
}
.mBottom {
  margin-bottom: 5vmax !important;
}
@media only screen and (max-width: 786px) {
  .fa-facebook {
    font-size: 3vmax !important;
    width: 3.9vmax;
    border-radius: 3vmax !important;
  }

  .fa-instagram {
    font-size: 3vmax !important;
    width: 3.9vmax;
    border-radius: 3vmax !important;
  }
  .padHoriz {
    padding-left: 5vmax !important;
    padding-right: 5vmax !important;
  }
  .h5 {
    font-size: large !important;
  }
  .thumcont {
    width: 17%;
    padding: 1%;
    overflow: hidden;
    /* margin-left: 0 !important; */
    margin-right: 1%;
  }
}
