.navigation {
  background: white;
  width: 100%;
  height: 6.5vmax !important;
}
.nav {
  width: 100%;
}
.navHam {
  border: 0 !important;
}
.navBtn {
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flagImg {
  height: 3vh !important;
}
.navitem {
  text-transform: uppercase;
  font-weight: bold !important;
  color: black !important;
  font-size: 1vw;
  letter-spacing: 0.1em !important;
}
.navitemDrop {
  text-transform: uppercase;
  /* padding-top: 0.6em; */
  /* padding-left: 1.5rem; */
  margin-left: 0 !important;
  font-weight: bold !important;
  color: black !important;
  font-size: 1vw;
  letter-spacing: 0.1em !important;
}

#basic-nav-dropdown {
  text-transform: uppercase;
  text-decoration: none !important;
  font-weight: bold !important;
  color: black !important;
  padding-top: 0.3vh !important;
  font-size: 1vw;
  letter-spacing: 0.1em !important;
}
.navhamburger {
  align-self: flex-start;
}
.navitemRight {
  text-transform: uppercase;
  font-weight: bold !important;
  color: black !important;
  font-size: 1vw;
  letter-spacing: 0.1em !important;
}
.navitem:hover {
  color: #fdc700 !important;
  text-transform: uppercase;
}
.navitemDrop:active::before {
  background-color: #fdc700 !important;
  text-transform: uppercase;
}
.navitemDrop:active {
  background-color: #fdc700 !important;
  text-transform: uppercase;
}
.navitemDrop.active {
  background-color: #fdc700 !important;
  text-transform: uppercase;
}

.collapse-nav {
  box-shadow: 10px 10px 10px #d0d0d0;
}
.custominput {
  border: 0.3vw solid #fdc700 !important ;
  width: 100% !important;
  border-radius: 1vw !important;
  font-size: 1vw !important;
  align-items: center !important;
  /* height: 5vh !important; */
}
.icon {
  font-size: 1.5vw;
}
@media only screen and (max-width: 400px) {
  .navLogo {
    width: 30% !important;
    padding-left: 30px !important;
  }
  .navitem {
    font-size: 10vw !important;
  }
  .navHam {
    width: 10% !important;
    overflow: hidden;
    padding: 0 !important;
  }
  #responsive-navbar-nav {
    width: 10% !important;
  }
  .flagImg {
    height: 2vh !important;
  }
}
.navLogo {
  width: 10vw;
}
@media only screen and (max-width: 768px) {
  .custominput {
    margin-left: 0 !important;
    font-size: 2vmax !important;
    /* height: 5vh !important; */
  }
  .right-div {
    /* width: 10rem !important; */
    /* background-color: #fdc700; */
    justify-content: space-evenly;
  }
  .navigation {
    height: 35% !important;
  }
  .navitem {
    font-size: 3vw !important;
  }
  #basic-nav-dropdown {
    font-size: 3vw !important;
    font-weight: 700 !important;
    padding: 0 !important;
  }
  .navLogo {
    width: 40vw;
    /* padding-left: 2% !important; */
  }
  .icon {
    font-size: 3.5vw;
  }
}

/* @media only screen and (max-width: 1366px) {
  #basic-nav-dropdown {
    padding-top: 0.2vw !important;
  }
} */

@media only screen and (min-width: 1367px) {
  .navigation {
    box-shadow: -1% 1% 1% #999;
  }
  #basic-nav-dropdown {
    padding-top: 0vw !important;
    /* font-size: 0.8vw !important; */
  }
}
@media only screen and (max-width: 1280px) {
  #basic-nav-dropdown {
    padding-top: 0.25vw !important;
    /* font-size: 0.8vw !important; */
  }
  /* .navitem {
    font-size: 0.8vw !important;
    font-weight: bold !important;
  } */
}
@media only screen and (max-width: 1115px) {
  #basic-nav-dropdown {
    padding-top: 0.5vw !important;
    /* font-size: 0.8vw !important; */
  }
  /* .navitem {
    font-size: 0.8vw !important;
    font-weight: bold !important;
  } */
}
