.ageBtn {
  width: 8vw;
  /* height: 10vh; */
  font-size: 2.2vw !important;
}
.smalldiv {
  width: 60% !important;
}
.headerSection {
  height: 40%;
}
.lamp {
  position: relative;
  z-index: 2;
  top: -50px;
  left: 200px;
}

@media only screen and (max-width: 768px) {
  .ageBtn {
    width: 80% !important;
    font-size: 5vw !important;
  }
  .smalldiv {
    width: 90% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
