.App {
  margin: 0px !important;
  padding: 0px !important;

  /* background-color: #fffaf0; */
}

.page {
  background: #ffffff;
}
.logo {
  width: 100px;
  cursor: pointer;
}

.sheraa {
  width: 80px;
  margin: 0px auto 5px auto;
}

.sheraa-m {
  left: 150px;
  top: 5px;
  height: 22px;
  position: absolute;
}

.App-nav,
.App-nav-m {
  text-align: left;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 10;
  font-family: "patrick_handregular";
  font-size: 24px;
}

.App-nav a:hover,
.App-nav a.active,
.levelmenu:hover {
  color: #fa8807;
  /* background-color: white; */
}

.levelmenu.active,
.levelmenu:hover .submenu:hover,
.levelmenu:hover .submenu.active {
  color: #4bbcc0;
}

.levelmenu .submenu {
  display: none;
  padding-left: 15px;
  margin: 0px;
  /* background-color: white; */
  width: inherit;
}

.levelmenu:hover .submenu {
  display: flex;
}

.App-nav ul,
.App-nav-m ul {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.App-nav-m {
  display: none;
}

::-webkit-scrollbar {
  width: 0.7rem;
  background-color: transparent;
  opacity: 0.2;
  border-radius: 1rem;
}
::-webkit-scrollbar-track {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%, 0, 0 0.4);
  opacity: 0.2;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  border-radius: 1rem;
}
.section {
  height: 100vh;
}
