@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

body {
  margin: 0px !important;
  padding: 0 !important;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "boogalooregular", "patrick_handregular", cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.boogaloo {
  font-family: "boogalooregular", cursive;
}

.amatic {
  font-family: "amatic_scbold", cursive;
}

.patrickhand {
  font-family: "patrick_handregular", cursive;
}

.asap {
  font-family: "asapregular", sans-serif;
}

.asapbold {
  font-family: "asapbold", sans-serif;
}

.frederickathegreat {
  font-family: "Fredericka the Great", cursive;
}

.barriecito {
  font-family: "barriecitoregular", cursive;
}

.chelsea {
  font-family: "Chelsea Market", cursive;
}

.caveat {
  font-family: "caveat_regular", cursive;
}

.caveatbold {
  font-family: "caveat_bold", cursive;
}

.teal {
  color: #4bbcc0;
}
.bgteal {
  background-color: #4bbcc0 !important;
}

.tealbg {
  background-color: #c9ebec;
}

.yellow {
  color: #fdc700;
}
.bgyellow {
  background-color: #fdc700;
}
.orange {
  color: #fa8807;
}
.purple {
  color: #804cbf;
}
.purplebg {
  background-color: #804cbf !important;
}
.black {
  color: #000000;
}
.darkblue {
  color: #152a3c;
}
.white {
  color: #ffffff;
}
.bgmagenta {
  background-color: #d2274b;
}
.rose {
  background-color: #b065a1;
}
.tint {
  background-color: #bdcd00;
}
.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}
.lightblack {
  color: #5d5d5d;
}
.fw1 {
  font-size: 0.8vw !important;
}
.f1 {
  font-size: 1vw !important;
}
.f111 {
  font-size: 1.5vw !important;
}
.f2 {
  font-size: 2vw !important;
}
.f3 {
  font-size: 3vw !important;
}
.f33 {
  font-size: 3.5vw !important;
}
.fsub {
  font-size: 2.5vw !important;
}
.ftitle {
  font-size: 4vw !important;
}

.f14 {
  font-size: 3.5rem;
}

.f12 {
  font-size: 1.2rem;
}

.f10 {
  font-size: 0.7rem;
}
.f13 {
  font-size: 1.5rem;
}

.f15 {
  font-size: 1.8rem;
}

.f16 {
  font-size: 2rem;
}

.f16a {
  font-size: 2.1rem;
}

.f17 {
  font-size: 2.5rem;
}

.f17a {
  font-size: 3rem;
}

.f18 {
  font-size: 3.6rem;
}

.f19 {
  font-size: 3.8rem;
}

.f20 {
  font-size: 4rem;
}

.f22 {
  font-size: 4.5rem;
}

.f24 {
  font-size: 5.5rem;
}

.huge {
  font-size: 8rem;
}

@media only screen and (min-width: 1200px) {
  .f12 {
    font-size: 1vw;
  }
}
@media only screen and (max-width: 768px) {
  .fw1 {
    font-size: 2.5vw !important;
  }
  .f1 {
    font-size: 3vw !important;
  }
  .f111 {
    font-size: 4vw !important;
  }
  .f2 {
    font-size: 6vw !important;
  }
  .f3 {
    font-size: 6vw !important;
  }
  .f33 {
    font-size: 3.5vw !important;
  }
  .fsub {
    font-size: 2.5vw !important;
  }
  .ftitle {
    font-size: 14vw !important;
  }
}

@media only screen and (max-width: 600px) {
  .dir-row {
    flex-direction: column;
  }

  .f14 {
    font-size: 3rem;
  }

  .f15 {
    font-size: 1.4rem;
  }

  .f16 {
    font-size: 1.5rem;
  }

  .f16a {
    font-size: 1.7rem;
  }

  .f17 {
    font-size: 2.3rem;
  }

  .f17a {
    font-size: 2.5rem;
  }

  .f18 {
    font-size: 2.8rem;
  }

  .f19 {
    font-size: 3.2rem;
  }

  .f20 {
    font-size: 3.5rem;
  }

  .f22 {
    font-size: 4rem;
  }

  .f12 {
    font-size: 0.5rem;
  }

  .huge {
    font-size: 6em;
  }
}
