.title {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  text-align: right;
  padding-bottom: 5vmin !important;
}

.leftBox {
  width: 80%;
  background-color: #feeeb2 !important ;
  border: 0.5vw solid #fa8807 !important;
  align-items: center;
  padding-bottom: 3vh;
}
.rightBox {
  width: 80%;
  background-color: #c9ebec !important ;
  border: 0.5vmax solid #804cbf !important;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 2;
  /* padding-bottom: 3vh; */
}
.ship {
  transform: rotate(-20deg);
  margin-left: 7vw;
}
.girl {
  margin: auto;
  position: absolute;
  top: -1.3rem;
  left: 23%;
  z-index: 1;
}
.fBtn {
  width: 100% !important;
  border-radius: 1vw !important;
  font-size: 3vw !important;
  margin-bottom: 2vh !important;
  /* padding-left: 2rem !important;
  padding-right: 2rem !important; */
}
@media only screen and (max-width: 768px) {
  .fBtn {
    font-size: 5vmax !important;
  }

  .leftBox {
    margin: auto;
    width: 80%;
    margin-bottom: 5vmax;
    border: 1.1vmax solid #fa8807 !important;
  }
  .rightBox {
    margin: auto;
    width: 80%;
    border: 1.1vmax solid #804cbf !important;
  }
  .girl {
    display: none !important;
  }
}

@media only screen and (max-width: 480px) {
  .fBtn {
    font-size: 28pt;
  }
}
@media only screen and (max-width: 350px) {
  .fBtn {
    /* width: 10rem !important; */
    font-size: 25px !important;
  }
}
@media only screen and (max-width: 600px) {
  .title {
    width: 75%;
  }
  .ship {
    width: 20%;
    margin-left: 10px !important;
  }
}
